<nav class="navbar navbar-expand-md navbar-color sticky-top">
  <div class="navbar-icon-section">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "Logo", class: "navbar-logo" %>
    <% end %>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= link_to "Home", root_path, class: "nav-link"%>
      <%= link_to "All Courses", courses_path, class: "nav-link"%>
      <%= link_to "Open A Course", new_course_path, class: "nav-link"%>
    </ul>
  </div>
  <div class="home-sign-up">
    <% if current_user %>
      <div class="home-welcome">
        <p class="navbar-word-welcome">Welcome back, <%= current_user.name %>! 🦸</p>
      </div>
      <div class="d-flex justify-items-center">
        <div class="dropdown">
          <button class="btn rounded-circle mx-3 p-0 border-0" data-bs-toggle="dropdown" style="width: 50px; height: 50px; overflow: hidden; background-color: white;">
            <img src="<%= asset_path("avatars/#{current_user.avatar || 'avatar-default.png'}") %>" alt="Avatar" class="w-100 h-100 rounded-circle">
          </button>
          <ul class="dropdown-menu dropdown-menu-end navbar-color">
            <li><%= link_to "My Bookings", bookings_path, class: "dropdown-item btn home-custom-sign-btn mb-0 text-white fw-bold" %></li>
            <li><%= link_to "My Courses", teacher_courses_path, class: "dropdown-item btn home-custom-sign-btn mb-0 text-white fw-bold" %></li>
            <li><%= link_to "My Favorites", favorites_path, class: "dropdown-item btn home-custom-sign-btn mb-0 text-white fw-bold" %></li>
            <li><%= link_to "Change My Avatar", avatars_path, class: "dropdown-item btn home-custom-sign-btn mb-0 text-white fw-bold" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Log out", destroy_user_session_path,  method: :delete, data: { confirm: "Are you sure you want to log out?" }  , class: "dropdown-item btn home-custom-sign-btn text-white me-3" %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="d-flex justify-items-center">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn home-custom-sign-btn text-white" %>
        <%= link_to "Log In", new_user_session_path, class: "btn home-custom-sign-btn text-white me-3" %>
      </div>
    <% end %>
  </div>
</nav>
