<div class="container-fluid">
  <div class="row justify-content-center open-course-bg">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 mt-5 open-course-format">
      <h1 class="my-4">Only one step to be a better & updated superhero teacher!</h1>
      <%= simple_form_for current_user, url: avatars_path, method: :patch do |f| %>
        <div class="mb-3">
          <h4 class="mb-2">Choose Your Avatar</h4>
          <div class="row row-cols-4 g-3">
            <% User::AVATAR_OPTIONS.each do |avatar| %>
              <div class="col">
                <label class="avatar-option w-100 text-center">
                  <%= f.radio_button :avatar, avatar, class: "d-none", checked: (@avatar == avatar) %>
                  <img src="<%= asset_path("avatars/#{avatar}") %>" class="avatar-image img-thumbnail <%= 'border-primary' if @avatar == avatar %>">
                </label>
              </div>
            <% end %>
          </div>
        </div>
        <%= f.submit "Make this my avatar", class: "btn btn-primary open-course-btns-first" %>
        <%= link_to "Back to courses", courses_path, class: "btn btn-secondary my-3 open-course-btns-second" %>
      <% end %>
    </div>
  </div>
</div>
