<%= render "pages/searchbar" %>
<div class="container">
  <div class="row justify-content-center open-course-bg">
    <div class="col-6 mt-5 open-course-format">
      <h1 class="my-4">Only one step to be a better & updated superhero teacher!</h1>
      <%= simple_form_for @course do |f| %>
        <%= f.input :title %>
        <%= f.input :description, as: :text, input_html: { maxlength: 400 } %>
        <%= f.input :syllabus, as: :text, input_html: { rows: 8 } %>
        <%= f.input :location %>
        <div class='d-flex flex-row justify-content-between'>
          <%= f.input :duration %>
          <%= f.input :online %>
        </div>
        <div class='d-flex flex-row justify-content-between'>
          <%= f.input :price %>
          <%= f.input :level, collection: Course.levels %>
          <%= f.input :category, collection: Course.categories %>
        </div>
        <div class='d-flex flex-row justify-content-between'>
          <%= f.input :start_time, html5: true %>
          <%= f.input :photo, as: :file %>
        </div>
        <%= f.submit "Modify this course", class: "btn btn-primary open-course-btns-first" %>
        <%= link_to "Back to courses", courses_path, class: "btn btn-secondary my-3 open-course-btns-second" %>
      <% end %>
    </div>
  </div>
</div>
