<div class="d-flex flex-column course-cover-page w-100">
  <div class="course-show-cover w-100">
    <%= render "courses/show/top_info", course: @course %>
  </div>
  <div class="course-show-wrapper d-flex justify-content-between align-items-start">
    <%= render "courses/show/syllabus", course: @course %>
    <div class="course-show-price-tag d-none d-md-block">
    <%= render "courses/show/price_tag", course: @course %>
    </div>
  </div>
  <div class="course-show-price-tag-mobile d-block d-md-none">
    <%= render "courses/show/price_tag", course: @course %>
  </div>
  <%= render "courses/show/cards_like", course: @course %>
</div>
